.todolist {
    margin: 20px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 0;
    width: 200px;
    height: auto;
    opacity: 0.75;
}

.todolist:hover {
    opacity: 1;
}

.isDone {
    text-decoration: line-through;
    opacity: 0.5;
}

.liSpan {
    display: flex;
    /*align-content: center;*/
    padding: 0;
    justify-content: space-between;
}

.liSpan > button {
    display: inline-flex;
    justify-content: flex-end;
}


.liSpan > span {
    width: 100%;
    margin: auto 15px;
    overflow-wrap: break-word;
    overflow: auto;
    scrollbar-arrow-color: lightpink;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

ul {
    padding-inline-start: 20px;
    list-style-type: none;
    padding: 0;
}

/*span > input {*/
/*    margin-right: 15px;*/
/*}*/

.inputBlock {
    display: flex;
    width: 100%;
}

.inputBlock input {
    padding: 3%;
    width: inherit;
}

input[placeholder] {
    /*width: 100px;*/
    /*display: inline-block;*/
}

.filterButtons {
    display: flex;
    justify-content: space-between;
}

/*.activeFilterButton {*/
/*    background-color: burlywood;*/
/*    border: 2px solid black;*/
/*    border-radius: 5px;*/
/*}*/

/*button:hover {*/
/*    background-color: darkgrey;*/
/*    border-radius: 5px;*/
/*}*/

.errorInput {
    border-color: red;
    color: red;
    outline: none;
}

.errorText {
    color: red;
    font-size: 12px;
}

.titleText {
    margin-top: 0;
    text-align: center;
}

